{{ define "title"}}Authorize{{ end }}

{{ define "content" }}
<div class="container">
  <div class="page-header">
    <h1>Authorize</h1>
  </div>
  <p class="lead">Client <b>{{ .clientID }}</b> would like to perform actions on your behalf</p>
  {{ if .error }}
  <div class="alert alert-danger" role="alert">{{ .error }}div>
  {{ else }}
  <form action="" method="post">
    <div class="row">
      <div class="col-md-2 col-sm-4">
        <input type="submit" class="btn btn-lg btn-block btn-primary" name="authorize" value="Authorize">
      </div>
      <div class="col-md-2 col-sm-4">
        <input type="submit" class="btn btn-lg btn-block btn-danger" name="decline" value="Decline">
      </div>
    </div>
  </form>
  {{ end }}
</div>
{{ end }}
