{{ define "title"}}Authorize{{ end }}

{{ define "content" }}
<div class="jumbotron">
  <form action="" method="post">
    {{ if .error }}
    <p class="lead">{{ .error }}</p>
    {{ else }}
    <p class="lead">Client <b>{{ .clientID }}</b> would like to perform actions on your behalf</p>
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-lg btn-block btn-primary" name="authorize" value="1">Authorize</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-lg btn-block btn-danger" name="decline" value="0">Decline</button>
      </div>
    </div>
    {{ end }}
  </form>
</div>
{{ end }}
