<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Authorize</title>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <h1>Authorize</h1>
  {{if .error}}
  <p>{{.error}}</p>
  {{end}}
  Do you want to authorize {{.clientID}} to use your credentials?
  <form action="/web/authorize" method="post">
      <p><input type="submit" value="Yes"> <input type="submit" value="No"></p>
  </form>
</body>
</html>
