<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Register</title>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <h1>Register</h1>
  {{if .error}}
  <p>{{.error}}</p>
  {{end}}
  <form action="/web/register" method="post">
      <p>
        <label for="username" autofocus required>Username</label><br>
        <input type="text" name="username" id="email">
      </p>
      <p>
        <label for="password" required>Password</label><br>
        <input type="password" name="password" id="password">
      </p>
      <p><input type="submit" value="Register"></p>
  </form>
</body>
</html>
